*, *::before, *::after {
  box-sizing: border-box;
}

body {
	padding: 0;
	margin: 0;
}

.progress-bar{
  position: relative;
  width: 500px;
  height: 50px;
  border-radius: 18px;
  left: 5px;
  color: white;
  background-color: #CCC;
}

.progress-bar-inner{
  width: 20%;
  left: 5px;
  top: 8px;
  bottom: 8px;
  color: white;
  background-color: #069;
  position: absolute;
  display: flex;
  align-items: center;
  min-width: 20px;
  max-width:480px;
  border-radius: 18px;
  padding:10px;
  animation: left-right 5s ease-in-out infinite;
}

@keyframes left-right {
  100% {width:calc(100%);}
}